.section-vet {
    position: relative;
    &__container {
        margin: 0 auto;
        width: 740px;
        border: 1px solid var(--low-grey);
        border-radius: 6px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        box-shadow: 2px 2px 4px var(--low-grey);
        &__bg-view {
            height: 120px;
            background-image: url('../../assets/images/backgrounds/birds-sky-bg.png');
            background-position: top center;
            background-size: cover;
            box-shadow: 0 2px 4px var(--grey);
        }
        &__group {
            display: flex;
            &__aside {
                display: flex;
                flex-direction: column;
                align-items: center;
                &__portrait {
                    display: flex;
                    box-sizing: border-box;
                    margin: -80px 16px 0 16px;
                    border: 1px solid var(--low-grey);
                    border-radius: 50%;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    box-shadow: 2px 2px 4px var(--grey);
                    img {
                        border-radius: 50%;
                        -webkit-border-radius: 50%;
                        -moz-border-radius: 50%;
                    }
                }
                &__list {
                    margin: 16px 0;
                    li {
                        list-style: none;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        margin-bottom: 8px;
                        line-height: 1;
                        .l-label, .l-info {
                            font-family: 'Tahoma';
                            font-size: 16px;
                            text-align: center;
                        }
                        .l-label {
                            color: var(--strong-grey);
                        }
                    }
                }
            }
            &__content {
                width: 100%;
                padding-right: 4px;
                &__header {
                    margin-top: 16px;
                    &__h1, &__h4 {
                        font-family: 'Tahoma';
                        padding: 2px 0;
                        line-height: 1;
                    }
                    &__h1 {
                        font-size: 32px;
                        color: var(--aqua-marine);
                        margin-bottom: 4px;
                    }
                    &__h4 {
                        font-size: 16px;
                        color: var(--cyan-dark);
                    }
                }
                &__panel {
                    margin-top: 16px;
                    &__selection {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        margin-bottom: 32px;
                        &__title {
                            color: var(--grey-blue);
                            font-size: 24px;
                        }
                        &__p-flex {
                            display: flex;
                            align-items: flex-start;
                            &__view {
                                font-family: 'Arial';
                                font-size: 24px;
                                font-weight: bold;
                                color: var(--grey-blue);
                                margin-right: 6px;
                                line-height: 1;
                            }
                            &__f-grid {
                                display: flex;
                                box-sizing: content-box;
                                overflow: hidden;
                                &__block {
                                    margin: 0 2px;
                                    line-height: 1;
                                    .b-icon {
                                        color: var(--aqua-marine);
                                    }
                                }
                            }
                        }
                    }
                    &__section {
                        margin-bottom: 16px;
                        &__title {
                            font-family: 'Lucida Sans Unicode';
                            font-size: 32px;
                            border-bottom: 2px solid var(--grey);
                            margin: 0 16px 8px 0;
                            padding-bottom: 4px;
                            color: var(--soft-black);
                            line-height: 1;
                        }
                        &__s-row {
                            display: flex;
                            flex-direction: column;
                            &__s-col {
                                display: flex;
                                line-height: 1.8;
                                &__text, &__label {
                                    font-family: 'Tahoma';
                                    font-size: 16px;
                                }
                                &__text {
                                    color: var(--soft-black);
                                }
                                &__label {
                                    margin-right: 4px;
                                    text-transform: capitalize;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    @media screen and (max-width: 768px) {
        &__container {
            width: 100%;
            &__group {
                &__aside {
                    &__portrait {
                        width: 150px;
                        height: 150px;
                        img {
                            width: 150px;
                            height: 150px;
                        }
                    }
                }
                &__content {
                    &__header {
                        &__h1 {
                            font-size: 22px;
                        }
                        &__h4 {
                            font-size: 14px;
                        }
                    }
                    &__panel {
                        &__section {
                            &__title {
                                font-size: 20px;
                            }
                            &__s-row {
                                &__s-col {
                                    &__text, &__label {
                                        font-size: 13px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    @media screen and (max-width: 560px) {
        &__container {
            &__group {
                &__aside {
                    &__portrait {
                        width: 110px;
                        height: 110px;
                        margin-left: 4px;
                        img {
                            width: 110px;
                            height: 110px;
                        }
                    }
                    &__list {
                        li {
                            .l-label, .l-info {
                                font-size: 12px;
                            }
                        }
                    }
                }
                &__content {
                    &__header {
                        &__h1 {
                            font-size: 16px;
                        }
                        &__h4 {
                            font-size: 13px;
                        }
                    }
                }
            }
        }
    }
}