.grid-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.grid-content > .content-h1 {
    font-family: 'Lucida Sans Unicode';
    font-size: 28px;
}
.grid-content > .content-h4 {
    font-family: 'Arial';
    font-size: 18px;
    text-align: center;
    margin-bottom: 16px;
}
.grid-control {
    display: flex;
    align-items: center;
    margin: 8px 0 16px 0;
}
.grid-status {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input-box {
    display: flex;
    position: relative;
}
.input-search {
    font-family: 'Lucida Sans Unicode';
    font-size: 18px;
    padding: 6px 10px;
    border-radius: 6px 0 0 6px;
    width: 160px;
    background-color: var(--white);
    border: 1px solid var(--low-grey);
    box-shadow: 2px 2px 4px inset var(--low-grey);
    outline: none;
}
.bg-focus {
    background-color: #ffe4e4;
    transition: background-color 0.5s ease-in-out;
}
.input-search::placeholder {
    color: var(--grey);
}
.input-search:focus {
    border-color: var(--aqua-marine);
}
.button-search {
    padding: 8px;
    background-color: var(--aqua-marine);
    border: 1px solid var(--cyan-dark);
    border-radius: 0 6px 6px 0;
    box-shadow: 2px 2px 4px var(--grey);
}
.input-clean {
    position: absolute;
    display: flex;
    align-items: center;
    top: 0;
    right: 0;
    height: 100%;
    font-size: 24px;
    padding: 0 6px;
    background-color: transparent;
    color: var(--strong-grey);
    border: none;
    outline: none;
    overflow: hidden;
}
.input-clean:active,
.input-clean:hover {
    color: var(--black);
}
.button-search:active {
    box-shadow: 2px 2px 4px inset var(--cyan-dark);
    border-color: (--strong-grey);
}
.status-loader {
    width: 100px;
    height: 100px;
    background-image: url('../../assets/gifs/spin-2-200px.gif');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.result-view {
    margin-bottom: 16px;
}
.result-title {
    text-align: center;
    font-size: 20px;
    line-height: 1;
}
.view-grid {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 16px;
}
