.list-content {
    display: flex;
    justify-content: center;
    &__list {
        &__row {
            list-style: none;
            &:not(:first-child) {
                margin-top: 16px;
            }
            &__list-row {
                display: flex;
                align-items: center;
                padding: 8px 16px;
                background: var(--aqua-marine);
                border: 1px solid var(--strong-grey);
                border-radius: 6px;
                -webkit-border-radius: 6px;
                -moz-border-radius: 6px;
                box-shadow: 2px 2px 4px var(--strong-grey);
                &__box {
                    margin-left: 12px;
                    &__r-link {
                        display: inline-block;
                        color: var(--yellow);
                        text-shadow: 1px 1px 1px var(--strong-grey);
                        &:active, &:hover {
                            color: var(--yellow-green);
                            text-decoration: underline;
                        }
                    }
                    h1, span {
                        color: var(--soft-white);
                        text-shadow: 1px 1px 1px var(--soft-black);
                    }
                    h1 {
                        font-size: 24px;
                    }
                    span {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}